<div class="footer">
    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">
        	<br/>Made by <a href="http:/jonaspreisler.com" target="_blank" style="color:#a9a9a9;background:#1c1c1c;border-radius:5px;padding-left:5px;padding-right:5px;"> Jonas</a>   |  hej@jonaspreisler.com
        	<br />
        	2018 &copy Tekuila
        </p>
      </div>
    </div>
</div>