<div class="footer">
    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">
        	<br/>Made by <a href="https:/jonaspreisler.com" target="_blank"> Jonas</a>   |  jonas@nanodex.com
        	<br />
        	2018 &copy Nanodex
        </p>
      </div>
    </div>
</div>