
1. Go to your bot. See the "Bot ID" and "User ID"



1. Go to your bottom page of your bot.
<br /> 
Click the link "edit bot".
<br /> 

<br /> 
See the "Bot ID" and "User ID"
<br /> 


<center>

<h1><strong>
  What is
  <a style="color:#f2d426;" class="typewrite" data-period="2000" data-type='[ "Tekuila?", "life?", "your dream?", "the future of bots?", "the 7th dimension?", "happiness?" ]'>
    <span class="wrap"></span>
  </a>
</strong></h1>


<br />
<div class="sub-title">With <span style="color:#f2d426;"">Tekuila</span> you can automatically save all your <i>new</i> Messenger bot users in an easy-to-understand overview containing all the data.</div>
<br />
<br />
</center>
<div class="row">
	<div class="col-md-6 col-md-6">
		<div class="box" style="border:2px solid #fff;padding:30px;border-radius:15px;height:180px;margin:10px;background:#555;color:#ddd;">
			<h4><strong>Export PDF with <span style="color:#f2d426;">beautiful</span> analytics</strong></h4>
			This is under development, as I'm (Jonas) still figuring out how to include the cool charts, as the ones below, into the PDF.
		</div>
	</div>
	<div class="col-md-6 col-md-6">
		<div class="box" style="border:2px solid #fff;padding:30px;border-radius:15px;height:180px;margin:10px;background:#555;color:#ddd;">
			<h4><strong><span style="color:#f2d426;">Overview</span> of other bot-owners bots, incl their growth.</strong></h4>
			A nice overview over other <span style="color:#f2d426;">Tekuila</span>-users bots. You can see their number of users (live), a link to their Facebook page and other fun data.
    </div>
		</div>
	</div>
</div>
<br />
<br />
<center>
<h4><strong>Why should I use <span style="color:#f2d426;">Tekuila</span>?</strong></h4>
How about the PDF export function? It's literally done with a single click!
<br />
How about selling shoutouts to other marketers or even selling a whole bot incl. it's users?
<br />
Our index of bots will make it easy for you to find or sell a bot, showcasing and viewing live data.
<br />
<br />
<br />

<div style="padding-bottom:100px;"></div>