<br />
<br />
<div class="row">
	<div class="col-md-6 col-md-6">
		<div class="sub-title">
			1. Go to your bots page and click "edit".
		</div>
	</div>
	<div class="col-md-6 col-md-6">
		<div style="border:1px solid #1c1c1c;padding-bottom:10px;">
			<%= image_tag ('/1.png') %>
		</div>
	</div>
	<br />
	<br />
	<div class="col-md-6 col-md-6">
		<div class="sub-title">
			2. On the edit page, copy your "Bot ID", "User ID" and "Secret code".
		</div>
	</div>
	<div class="col-md-6 col-md-6">
		<div style="border:1px solid #1c1c1c;padding-bottom:10px;">
			<%= image_tag ('/2.png') %>
		</div>
	</div>
	<br />
	<br />
	<div class="col-md-6 col-md-6">
		<div class="sub-title">
			3. Go to your Chatfuel welcome message and assign your new bot users these three attributes.
		</div>
	</div>
	<div class="col-md-6 col-md-6">
		<div class="sub-title">
		<div style="border:1px solid #1c1c1c;padding-bottom:10px;">
			<%= image_tag ('/3.png') %>
		</div>
		</div>
	</div>
	<div class="col-md-6 col-md-6">
		<div class="sub-title">
			4. In the same block, send those three + any other default attributes as JSON data to "http://tekuila.com/api/v1/bot_users" with POST type.
		</div>
	</div>
	<div class="col-md-6 col-md-6">
		<div style="border:1px solid #1c1c1c;padding-bottom:10px;">
			<%= image_tag ('/4.png') %>
		</div>
	</div>
</div>


<div style="padding-bottom:100px;"> </div>